/* *****base****************/
body,h1,h2,h3,h4,p,ul,li,ol,dl,dt,dd,input,textarea,figure,form{margin:0;padding:0}
body,input,textarea{font-size:12px;font-family:microsoft yahei,sans-serif}
body{color:#222222;}
ul,ol{list-style:none}
img{border:0}
button,input {line-height:normal;*overflow:visible}
q,input,textarea{outline:none}
a{color:#3B8DD1;text-decoration:none}
a:hover{color:#8CAC52}
div:active{
	outline:none;
	text-decoration:none;
	/*border:none;*/
}
/* 设置HTML5元素为块 */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {   
    display: block;  
}
/* 禁用iPhone中Safari的字号自动调整 */
html {  
    -webkit-text-size-adjust: none;  
} 
/* 设置图片视频等自适应调整 */
img {  
    max-width: 100%;  
    height: auto;  
    vertical-align:middle; /*垂直居中*/
    width: auto\9; /* ie8 */  
}  
 
input:focus {
	/*border: none;*/
    outline:none;
}
/* 清理浮动 */
.clearfix:after {
	visibility:hidden;
	display:block;
	font-size:0;
	content:" ";
	clear:both;
	height:0;
}
.clearfix {
	zoom:1;
}


/*文字颜色*/
.white{
	color: white;
}
.black{
	color: black;
}
.gray{
	color: #777777;
}
.blue{
    color: #0f3e8e;
}
.bold{
	font-weight: bold;
}
.line-height{
	line-height: 23px;
}

.font14{
	font-size: 14px;/*********************/
}
.font12{
	font-size: 12px;/*********************/
}

/*四周画圆角*/
.radius{
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	-o-border-radius: 5px;
	border-radius: 5px;
}
/*阴影*/
.shadow{
	-webkit-box-shadow:1px 1px 10px #ccc inset;
	-moz-box-shadow:1px 1px 10px #ccc inset;
	-o-box-shadow:1px 1px 10px #ccc inset;
	box-shadow:1px 1px 10px #ccc inset;

}


/*分割线*/
.line{
	border-bottom: 1px solid #D3D5C7;
	width: 100%;
}

/*按钮*/
.button{
	-webkit-box-shadow: 0px 1px 0px #494949;
	-moz-box-shadow: 0px 1px 0px #494949;
	-o-box-shadow: 0px 1px 0px #494949;
    box-shadow: 0px 1px 0px #494949;
    /*display: inline-block;*/
    border: 1px solid #121212;
    outline: medium none;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.3);
    vertical-align: baseline;		
	background: #333;
	background: -webkit-gradient(linear, left top, left bottom, from(#424242), to(#272727));
	background: -moz-linear-gradient(top,  #424242,  #272727);
	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#424242', endColorstr='#272727');		
}
.float-left{
	float: left;
}
.float-right{
    float: right;
}
#pager{
	width: 100%; /*320px*/
	height:auto;
	margin: auto;
}
.show{
	width: 95%;
	height: auto;
	margin: auto;
}
/* *****baseend****************/

#header{
    width: 100%; /*320px*/
    height:auto;
    margin: auto;    
    background-color: #315796;
    border-bottom:1px solid #e3dfdf;
}

.header_top{
    width: 90%;
    height: auto;
    margin: auto;
    position: relative;
}
.header_top .logo{
    float: left;
    position: absolute;
}
.header_top .web_name{
    float: left;
    line-height: 35px;
    color: #ffffff;
    text-shadow: 0 1px 1px black;
    font-size: 29px;
    margin-left: 45px;
}
.header_menu{
    width: 100%;
    height: 60px;
    background-color: #ededed;
    font-size: 16px;
}
.header_menu ul{
    float: right;
    line-height: 60px;
    margin-right: 60px;
}
.header_menu ul li{
    float: left;
    margin-left: 20px;
}
.header_menu a:hover{
    padding-bottom:15px;
    border-bottom:4px solid #0f3e8e;
    text-decoration: none;
    color: #0f3e8e;
}
.header_menu a{
    color: #8e8e8f;
    height: 40px;
}
.header_info{
    width: 100%;
    height: 45px;
    background-color: #ededed;
    border-top: 1px solid #e3dfdf;   
    padding: 10px 0 0 0; 
}
.header_info ul{
    width: 90%;
    height: auto;
    margin: auto;
}
.header_info img{
    float: left;
    vertical-align: middle;
    margin-right: 10px;
}
.header_info li{
    float: left;
    width: 25%;
}

#content{
    width: 100%;
    height: auto;
    margin:auto;

}
#left_content{
    width: 60%;
    height: auto;
    float: left;
    border-right: 1px solid #CCCCCC;
}
#left_content ul li{
    height: auto;
    line-height: 21px;
    padding: 15px 0 35px;
    
    text-indent: 10%;
}
#left_content .float-right{
    text-indent: 0;
    margin-right: 10px;
}
.web_title{
    font-size: 14px;

}
.jiathis_style{
    float: left;

}
.web_url{
    float: left;
    width: 250px;    
}
#left_content ul li:hover{
    background-color: #e3e6e9;
}
.li_nav{
    background-color: #f6f6f6;
}

#right_content{
    float: right;
}
.login_form{
    margin-right: 10px;
}
.login_form .forget{
    /*float: right;*/
}
.fix_input{
    /*background: none repeat scroll 0 0 transparent;*/
    border: 1px solid #DADADA;
    height: auto;
    line-height: 21px;
    margin-top: 9px;
    padding: 5px 0 5px 5px;
    width: 170px;
    font-size: 14px;
}
.fix_button{
    background-color: #1e95e5;
    font-size: 14px;
    line-height: 15px;    
    cursor: pointer;
    text-shadow: 0 1px 0 rgba(0,0,0,.2);
    padding: 3px 9px;
    text-align: center;
    border: none;
    color: #ffffff;
}
.cooper_title{
    margin: 10px 0 5px 0;
}
a.sina,a.qq,.icon_sina{
    padding: 3px 0 2px 22px;
    display: inline-block;
    height: 13px;
    background: transparent url(../imgs/share.png) scroll no-repeat 0 0;    
}
.cooper a.sina{
    background-position: 0 -2px;
}
.cooper a.qq{
    background-position: 0 -27px;
}

.reg_button{
    background: -moz-linear-gradient(center top , #ADDA4D, #86B846);
    background:-webkit-gradient(linear,left top,left bottom,from(#ADDA4D),to(#86B846));
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ADDA4D',endColorstr='#86B846');
    border: 1px solid #6D8F29;
    text-align: center;
    width: 75px;
    height: 30px;
    line-height: 30px;
    color: #3E5E00 !important;
    cursor: pointer;
    margin: -15px  40px 0 0 ;
    float: right;
}
.login{
    border-bottom:1px solid #EEEEEE;
    padding: 0 0 10px 0; 
}
.reg{
    border-bottom:1px solid #EEEEEE;
    padding: 0 0 10px 0; 
}
.reg_name{
    display: inline-block;
    text-align: right;
    width: 60px;
}
.new_reg{
    margin: 10px 0  0 60px;
}


/***********************person page****************************************/
#p_content{
    width:100%;
    height:auto;
    background:#ededed;
    margin:0 auto;

}
#p_leftcon{
    width:30%;
    float:left;

}
#p_leftcon #p_prebg{
    width:84%;

    float:right;
    background:#d7d5d5;
    -webkit-box-shadow:5px 2px 6px #d4d4d4;
    -moz-box-shadow:5px 2px 6px #d4d4d4;
}

#grzx{
    width:94%;
    height:23px;
    margin:0 auto;
    margin-top:20px;
}
#p_gl{
    width:25%;
    height:5px;
    float:left;
    background:#325897;
    margin-top:9px;
}
#p_gz{
    width:50%;
    height:21px;
    float:left;
    margin-top:1px;
    font-size: 18px;
    line-height: 21px;
    text-align: center;
}
#p_gr{
    width:25%;
    height:5px;
    float:right;
    background:#325897;
    margin-top:9px;
}
#p_himg{
    width:60%;
    height:126px;
    background:#b4b4b4;
    margin:0 auto;
    margin-top:25px;
    text-align: center;
}
#p_hname{
    width:60%;
    height:30px;
    margin:0 auto;
    text-align: center;
    line-height: 30px;
    font-size: 14px;
}
#p_lfixed{
    width:100%;
    height:auto;
    float: left;
    margin-top: 30px;
}

#p_dcr{
    width:100%;
    height:150px;  
}
#p_dcr ul{
    width:70%;
    height:150px;
    margin:0 auto;
}
#p_dcr ul li{
    width:100%;
    height:50px;
    font-size: 18px;
    text-align: center;
    line-height: 50px;
    cursor: pointer;
}
#p_dcr ul li:hover{ background:#4d7fc6;}
#p_dcr ul .Hactive{background:#4d7fc6}

#p_fl{
    width:100%;
    height:auto;
    margin-top: 35px;
    float: left;
}
#p_fl ul{
    width:100%;
    height:auto;
    float:left;
}
#p_fl ul li{
    width:100%;
    height:40px;
    margin-top: 6px;
    cursor: pointer;
}
#p_fl ul li .li_l{
    width:10%;
    height:40px;
    float:left;
}
#p_fl ul li .li_r{
    width:90%;
    height:40px;
    float:right;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
}
#p_rightcon{
    width:69%;
    float:right;
    height:auto;
    padding-bottom:40px;
    min-height: 1000px;
}

#p_rightcon ul{
    width:100%;
    float:left;
}

.p_conlist{
    width:234px;
    height:185px;
    background:#d4d2d3;
    float:left;
    margin-left: 38px;
    margin-top:34px;
    border-radius: 5px;
    border: 1px solid #fff;
    position: relative;
    box-shadow: 0 2px 6px #666;
    -webkit-box-shadow:0px 2px 6px #666;
    -moz-box-shadow:0px 2px 6px #666;
}
.p_conlist:hover{
    box-shadow: 0 6px 20px #666;
    -webkit-box-shadow:0px 6px 20px #666;
    -moz-box-shadow:0px 6px 20px #666;
}
#p_rightcon ul .p_conlist .rlitop{
    width:100%;
    height:105px;
    background: #d4d2d3;
    border-top-left-radius:5px;
    border-top-right-radius:5px;
}
#p_rightcon ul .p_conlist .rlitop p{
    width:100%;
    height:80px;
    font-size: 20px;
    line-height:27px;
    margin-top: 34px;
}
#p_rightcon ul .p_conlist ul{
    width:80px;
    height:17px;
    position: absolute;
    top:1px;
    right:1px;
}

.p_bgco{background-color: #bbc2cc}
#p_rightcon ul .p_conlist .rlimid{
    width:100%;
    height:37px;
    background: #fff;
    line-height: 37px;
    text-indent:1em;
}
#p_rightcon ul .p_conlist .rlimid span{
    color:#355995;
    cursor: pointer;
}
#p_rightcon ul .p_conlist .rlibottom{
    width:100%;
    height:9px;
    background: green;
    border-bottom-left-radius:5px;
    border-bottom-right-radius:5px;
}
.p_conlist ul li{width:20px;height:17px;float:left;background: url('../imgs/btn.png') no-repeat;display:none;cursor:pointer;}
.p_conlist ul li:nth-of-type(2){background-position: 0 -20px;}
.p_conlist ul li:nth-of-type(3){background-position: 0 -40px;}
.p_conlist ul li:nth-of-type(4){background-position: 0 -60px;}
.p_conlist ul li:hover{background-position: 0 -80px;background-color: #29518f}
.p_conlist ul li:nth-of-type(2):hover{background-position: 0 -100px;background-color: #29518f}
.p_conlist ul li:nth-of-type(3):hover{background-position: 0 -120px;background-color: #29518f}
.p_conlist ul li:nth-of-type(4):hover{background-position: 0 -140px;background-color: #29518f}
.p_conlist:hover li{display: block;}


/*  addMark */
.MarkList{width:400px;height:302px;border:5px solid #dddddd;border-radius:5px;background:#fff;padding:0 20px;text-align:center;display:none;position:absolute;left:0;top:0;z-index:10;opacity:0;filter:alpha(opacity=0);}
.MarkList h3{height:34px; line-height:34px; border-bottom:1px solid #dddbdb;font-size:16px;}
.markCont{width:310px;margin:10px auto 0 auto;}
.markCont p{line-height:34px;clear:both;height:34px;}
.classCont p{margin-top:20px;}
.inCont{margin-top:36px;position:relative}
.markCont span{float:left;width:74px;display:inline;font-size:14px;}
.markCont input{float:left;margin-top:5px;width:225px;height:24px;}
.markCont .checkStyle{width:10px;}
.markCont em{ font-style:normal;float:left;margin-left:10px;}
.markCont textarea{float:left;width:225px;overflow:auto; resize:none;}
.markCont .markSub,.markCont .markCancel{width:55px;height:25px;background:#2c77f3;border-radius:2px;border:none;margin-left:30px;color:#fff;cursor:pointer;float:left;}
.markCont .markTure{width:180px;margin:0 auto;height:27px;padding-top:10px;}
.markCont .markTure input:hover{background:#0b55ce}
#InmarkList{height:210px;}
.mask{background:#000;position:absolute;z-index:9;left:0;top:0;display:none;opacity:0.6;filter:alpha(opacity=60);}
input#alert_button {
    display: block;
margin-top: 20px;
}

.simpleColorDisplay {
    font-family: Helvetica;
    margin: 10px 0;
}
.simpleColorChooser {
    background-color: #fff;
}

.button {
    clear: right;
}
/*  end addMark */


/*打开某个书签*/
.i_bar{
    background: #315796;
    height: 39px;
    left: 0;
    min-width: 1000px;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 200;    
}
.i_frame{
    background: none repeat scroll 0 0 #FFFFFF;
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: 3;
    top:40px;
}
html{
    overflow:hidden;
}
html, body{
    overflow:hidden;
}

ul.i_bar_left {
    float: left;
    overflow: auto;
}


div.i_bar li {
    color: #FFFFFF;
    cursor: pointer;
    float: left;
    height: 36px;
    line-height: 37px;
    overflow: hidden;
}
div.i_bar .i_logo {
	float:left;
}
div.i_bar .i_logo a {
    display: block;
    position:relative;
    left:40px;
    width:40px;
}
div.i_bar li a {
    color: #FFFFFF;
    text-decoration: none;
}

div.i_bar li.i_title {
    max-width: 450px;
    padding: 0 50px;
}


ul.i_bar_right {
    float: right;
    overflow: auto;
}
ul.i_bar_right li {
    padding: 0 10px;
}
div.i_bar span.i_icon{
    background: url("../imgs/sp-base.png") no-repeat scroll 0 0 transparent;
    display: block;
    /*height: 36px;*/
    padding-left: 18px;
}

div.i_bar span.icon_like {
    background-position: 0 -74px;
}
div.i_bar span.icon_share {
    background-position: 0 -100px;
}

div.i_bar span.icon_comment {
    background-position: 0 -126px;
}



div.ik_hove_panel {
    background: none repeat scroll 0 0 #EBEBEB;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    padding: 10px;
    position: absolute;
    top: 36px;
    z-index: 201;
}

div.ik_hove_panel div.keepWrap {
    width: 350px;
}
div.keepWrap {
    position: relative;
}

div.keepWrap h3 {
    color: #336699;
    font-size: 14px;
    font-weight: normal;
    padding: 4px 0 10px;
}

div.keepWrap div.item {
    background: none repeat scroll 0 0 #FFFFFF;
    border: 1px solid #DDDDDD;
    color: #333333;
    margin-bottom: 8px;
    padding-left: 45px;
    position: relative;
}

div.keepWrap div.item label {
    display: inline-block;
    left: 8px;
    position: absolute;
    top: 6px;
}

div.keepWrap div.item div.input input {
    border: 0 none;
    height: 30px;
    padding: 0;
    width: 100%;
}
div.keepWrap div.item div.select {
    cursor: pointer;
    height: 30px;
}

div.keepWrap div.item div.select span {
    line-height: 30px;
}

div.keepWrap div.show_btn {
    position: relative;
}

div.keepWrap div.show_btn div.checkbox {
    clear: both;
    margin-bottom: 5px;
    overflow: auto;
}

div.keepWrap div.show_btn div.checkbox label {
    display: inline;
    float: left;
}

div.keepWrap div.show_btn div.checkbox label input {
    float: left;
}

div.keepWrap div.show_btn button {
    position: absolute;
    right: 1px;
    top: 7px;
}

a.sina, span.icon_sina {
    background-position: 0 -2px;
}