<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Cache-Control" content="no-cache" />

<title>爱书签</title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="tencent-x5-page-direction" content="landscape" />
<meta name="description" content=""/>

<link rel="stylesheet" type="text/css" media="all" href="./css/main.css" />
</head>
<body>   

    <div id='pager'>
    	<div id='header'>
    		<div class='header_top clearfix'>
    			<div class='logo'><img src='./imgs/logo.png'></div>
    			<div class='web_name'>ishuqian</div>
    		</div>
    		<div class='header_menu'>
    			<ul>
    				<li><a href='javascript:void(0)'>首页</a></li>
    				<li><a href='javascript:void(0)'>意见反馈</a></li>
    				<li><a href='javascript:void(0)'>关于我们</a></li>
    			</ul>
    		</div>  
    		<div class='header_info'>
    			<ul>
    				<li>
    					<img src='./imgs/shu_heart.png' class=''>
    					<div class='info_right'>
    						<p>丰富的书签</p>
    						<p class='gray'>Millions of BookMark</p>
    					</div>
    				</li>
    				<li>
    					<img src='./imgs/shu_heart.png' class=''>
    					<div class='info_right'>
    						<p>发现喜爱的书签</p>
    						<p  class='gray'>Recommend & Discover</p>
    					</div>
    				</li>
    				<li>
    					<img src='./imgs/shu_heart.png' class=''>
    					<div class='info_right'>
    						<p>与朋友们分享好书签</p>
    						<p class='gray'>Share BookMark with friends</p>
    					</div>
    				</li>
    				<li>
    					<img src='./imgs/shu_heart.png' class=''>
                        <div class='info_right'>
                            <p>随时随地，爱书签</p>
                            <p class='gray'>Anytime,Anywhere,Anyway </p>
                        </div>
    				</li>    				

    			</ul>
    		</div>    		  		
    	</div>

        <div id='content'>
            <div id='left_content'>
                <ul>
                    <li class='li_nav'>
                        <div class='web_title blue'>1.实现革命 - 仙人掌</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.ishuqian.net)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>11分钟前</span>
                        </div> 
                    </li>

                    <li>
                        <div class='web_title blue'>2.美公网天下 - 个人博客</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.biuman.com)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>15分钟前</span>
                        </div> 
                    </li>

                    <li class='li_nav'>
                        <div class='web_title blue'>3.美味书签 - 个人书签</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.ishuqian.net)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>11分钟前</span>
                        </div> 
                    </li>   

                    <li>
                        <div class='web_title blue'>1.实现革命 - 仙人掌</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.ishuqian.net)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>11分钟前</span>
                        </div> 
                    </li>

                    <li class='li_nav'>
                        <div class='web_title blue'>2.美公网天下 - 个人博客</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.biuman.com)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>15分钟前</span>
                        </div> 
                    </li>

                    <li>
                        <div class='web_title blue'>3.美味书签 - 个人书签</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.ishuqian.net)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>11分钟前</span>
                        </div> 
                    </li> 

                    <li class='li_nav'>
                        <div class='web_title blue'>1.实现革命 - 仙人掌</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.ishuqian.net)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>11分钟前</span>
                        </div> 
                    </li>

                    <li>
                        <div class='web_title blue'>2.美公网天下 - 个人博客</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.biuman.com)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>15分钟前</span>
                        </div> 
                    </li>

                    <li class='li_nav'>
                        <div class='web_title blue'>3.美味书签 - 个人书签</div> 
                        <div class='gray'>
                            <span class='web_url'>(www.ishuqian.net)</span>                           
                            <!-- JiaThis Button BEGIN -->
                            <div class="jiathis_style">
                                <a class="jiathis_button_qzone"></a>
                                <a class="jiathis_button_tsina"></a>
                                <a class="jiathis_button_tqq"></a>
                                <a class="jiathis_button_renren"></a>
                                <a class="jiathis_button_weixin"></a>
                                <a href="http://www.jiathis.com/share" class="jiathis jiathis_txt jtico jtico_jiathis" target="_blank"></a>
                                <a class="jiathis_counter_style"></a>
                            </div>
                            <script type="text/javascript" src="http://v3.jiathis.com/code/jia.js?uid=1358394942458157" charset="utf-8"></script>
                            <!-- JiaThis Button END -->
                            <span class=' float-right'>11分钟前</span>
                        </div> 
                    </li>                                                                              
                </ul>


            </div>


            <div id='right_content'>
                <div class='login'>
                    <form action='' class='login_form'>
                        <input type='text' placeholder='Email\用户名' class='fix_input radius' maxlenght='12'>
                        <input type='password' class='fix_input radius' maxlenght='12'>
                        <input type='submit' value='登录' class='fix_button radius'>
                        <a href='javscript:void(0)' class='forget'>忘记密码?</a>
                    </form>
                    <div class='cooper'>
                        <p class='cooper_title'>Or 合作网站登录</p>
                            <a href="javascript:void(0)" class="sina"></a>
                            <a href="javascript:void(0)" class="qq"></a>
                            <!--
                            <a href="javascript:void(0)" class="sohu"></a>
                            <a href="javascript:void(0)" class="douban"></a>
                            -->
                            <div class='reg_button radius'>立即注册</div>
                    </div>
                </div>

                <div class='reg'>
                    <form action='' class='login_form'>
                        <span class='reg_name'>用户名：</span><input type='text' placeholder='Email' class='fix_input radius' maxlenght='12'><br/>
                        <span class='reg_name'>密码：</span><input type='password' class='fix_input radius' maxlenght='12' placeholder='密码'><br/>
                        <span class='reg_name'>确认密码：</span><input type='password' class='fix_input radius' maxlenght='12' placeholder='确认密码'><br/>
                        <input type='submit' value='注册' class='fix_button radius new_reg'>
                    </form>
                </div>
            </div>

        </div>

    </div>


</body>
</html>