<!DOCTYPE html>
<html dir="ltr" lang="zh-CN">
<head>
<meta charset="UTF-8"/>
<meta http-equiv="Cache-Control" content="no-cache" />

<title>前端样式总结</title>
<meta name="viewport" id="viewport" content="width=device-width,initial-scale=1.0,maximum-scale=1.0,user-scalable=no;" >
<meta content="yes" name="apple-mobile-web-app-capable" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="tencent-x5-page-direction" content="landscape" />
<meta name="keywords" content="pp搜索"/>
<meta name="description" content=""/>

<link rel="stylesheet" type="text/css" media="all" href="./css/main.css" />
</head>
<body>   

    <div id='pager'>
        <div class="i_bar">
            <ul class="i_bar_left">
                <li class="i_logo" tooltip="去爱库首页"><a href="/">爱书签</a></li>
                <li class="i_title"><a href="/show/20217989">免费小说免费看</a></li>
            </ul>
            <ul class="i_bar_right">
                <li tooltip="喜欢就收藏吧~"><span class="i_icon icon_like">收藏 102</span></li>
                <li tooltip="分享给好友~"><span class="i_icon icon_share">分享</span></li>
                <li tooltip="说两句评论"><span class="i_icon icon_comment">评论 3</span></li>
                <li tooltip=""><span class="i_icon"></span></li>
            </ul>
        </div>

        <iframe class="i_frame" frameborder="0" src="http://t.shuqi.com" noresize="noresize" style='height:625px;'>

    </div>


</body>
</html>